* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C7E3F2;
}

ul {
   
    list-style-type: none;
}

ul > li {
    font-size: 14px;
    padding-bottom: 12px;
}

.card-container {
    width: 90%;
    max-width: 520px;
    margin: 30px auto;
}

.hero-ctr {
    text-align: center;   
    background-color: white;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-ctr > img {
    width: 100px;
    border-radius: 100%;
}

.hero-ctr > h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section {
    padding: 30px 20px;
    color: rgba(255, 255, 255, 0.781);
}

.section:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
    font-weight: 500;
    color: white;
}

.section-body {
    padding-top: 20px;
}

.section-body > p {
    font-size: 14px;
    line-height: 22px;
}

.section-link {
    font-weight: 500;
    color: white !important;
}

.fa-check-circle {
    padding-right: 5px;
}

.about {
    background-color: #4299FF;
}

.recent-work {
    background-color: #3288ED;
    margin-bottom: -12px;
}

.contact {
    background-color: #287DE3;
}

.contact-links {
    width: 80%;;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -5px
}

.contact-links > a {
    margin: 5px;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 5px 15px;
}

.fab, .fas, .far {
    font-size: 12px;
    padding-right: 4px;
}

@media screen and (min-width: 736px) {
    .card-container {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .section {
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-body {
        width: 50%;
        padding-top: 0;
    }

    .section-title {
        width: 30%;
        border-bottom: none;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        margin-right: 20px;
        padding-right: 20px;
        text-align: right;
    }
}